/* Ajuste general */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Cuerpo basico */
body {
  text-align: center;
  font-family: sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #cbb26a;
  position: fixed;
  width: 100%;
  z-index: 100;
  border: 1px solid #ffffff;
}

.navbar {
  display: flex;
  margin-right: 10px;
}

.logo {
  margin-left: 30px;
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a:hover {
  background: #2d2d2d81;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60vh;
  background: url(img/header.jpg);
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

p {
  margin-bottom: 40px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #c44569;
  color: #fff;
  text-decoration: none;
  background: #c44569;
}

.btn:hover {
  background: none;
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}

.content {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #cbb26a;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box {
  height: 11rem;
  width: 17rem;
  background: transparent;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.692);
  margin: 2rem;
}

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #c44569;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .box h3 {
  font-size: 20px;
  color: #c44569;
}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.about {
  /* Color de la seccion nosotros */
  background: #001824;
}

.price {
  background: url(img/costos.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact {
  height: 700px;
  padding-top: 20px;
  background: #001824;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.contain_final {
  background: #001824;
}

.title_final {
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

#map {
  height: 500px;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
}

